{% extends 'home.html' %}

{% block title %}Página Inicial{% endblock %}

{% block content %}
<div class="container">
    <div class="card" style="padding: 20px; max-width: 600px; margin: 50px auto; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); text-align: center;">
        <h1>Pandora STORE</h1>
        <p style="margin: 20px 0; color: #555; font-size: 16px;">Página inicial.</p>
        <a href="/login" class="btn" style="background-color: #e9490a; color: white; padding: 12px 24px; border-radius: 5px; text-decoration: none; font-size: 16px;">Ir para Login</a>
    </div>
</div>
{% endblock %}